Repository markopolo123/pico_templ: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, go-vet, templ-fmt, templ-generate

go-fmt:
  name: go fmt
  entry: flox activate -- gofmt -w
  language: system

go-imports:
  name: go imports
  entry: flox activate -- goimports -w
  language: system

go-vet:
  name: go vet
  entry: flox activate -- go vet ./...
  language: system
  pass_filenames: false

templ-fmt:
  name: templ fmt
  entry: flox activate -- templ fmt .
  language: system
  pass_filenames: false

templ-generate:
  name: templ generate
  entry: flox activate -- templ generate
  language: system
  pass_filenames: false

fix: align templ version and exclude _templ.go from goimports
  components/modal/modal_templ.go
  go.mod
  go.sum
Due: go-vet

fix: format generated files with goimports
  components/modal/modal_templ.go
Due: go-vet

feat: Add Modal component with _hyperscript interactivity (#5)
  .flox/env/manifest.lock
  components/modal/modal.templ
  components/modal/modal_templ.go
  components/modal/modal_test.go
Due: go-fmt, go-imports, go-vet, templ-fmt, templ-generate

feat: Add GitHub Pages documentation site
  .github/workflows/pages.yml
  .gitignore
  content/link/link.templ
  content/link/link_templ.go
  content/loading/loading.templ
  content/loading/loading_templ.go
  content/table/table.templ
  content/table/table_templ.go
  content/typography/typography.templ
  content/typography/typography_templ.go
  docs/main.go
  docs/pages/components.templ
  docs/pages/components_templ.go
  docs/pages/content.templ
  docs/pages/content_templ.go
  docs/pages/forms.templ
  docs/pages/forms_templ.go
  docs/pages/index.templ
  docs/pages/index_templ.go
  docs/pages/layout.templ
  docs/pages/layout_templ.go
  docs/templates/base.templ
  docs/templates/base_templ.go
  justfile
Due: go-fmt, go-imports, go-vet, templ-fmt, templ-generate

fix: Regenerate templ files with v0.3.960 for CI compatibility
  content/link/link.templ
  content/link/link_templ.go
  content/loading/loading_templ.go
  content/table/table.templ
  content/table/table_templ.go
  content/typography/typography.templ
  content/typography/typography_templ.go
  docs/pages/components_templ.go
  docs/pages/content.templ
  docs/pages/content_templ.go
  docs/pages/forms.templ
  docs/pages/forms_templ.go
  docs/pages/index.templ
  docs/pages/index_templ.go
  docs/pages/layout.templ
  docs/pages/layout_templ.go
  docs/templates/base_templ.go
Due: go-vet, templ-fmt, templ-generate

fix: Format typography.templ for CI consistency
  content/typography/typography.templ
  content/typography/typography_templ.go
Due: go-vet, templ-fmt, templ-generate

feat: Add GitHub Pages documentation site (#18)
  .github/workflows/pages.yml
  .gitignore
  content/link/link.templ
  content/link/link_templ.go
  content/loading/loading.templ
  content/loading/loading_templ.go
  content/table/table.templ
  content/table/table_templ.go
  content/typography/typography.templ
  content/typography/typography_templ.go
  docs/main.go
  docs/pages/components.templ
  docs/pages/components_templ.go
  docs/pages/content.templ
  docs/pages/content_templ.go
  docs/pages/forms.templ
  docs/pages/forms_templ.go
  docs/pages/index.templ
  docs/pages/index_templ.go
  docs/pages/layout.templ
  docs/pages/layout_templ.go
  docs/templates/base.templ
  docs/templates/base_templ.go
  justfile
Due: go-fmt, go-imports, go-vet, templ-fmt, templ-generate

fix: Update docs navigation links to use .html extensions for GitHub Pages
  docs/pages/components.templ
  docs/pages/components_templ.go
  docs/pages/content.templ
  docs/pages/content_templ.go
  docs/pages/forms.templ
  docs/pages/forms_templ.go
  docs/pages/layout.templ
  docs/pages/layout_templ.go
  docs/templates/base.templ
  docs/templates/base_templ.go
Due: go-vet, templ-fmt, templ-generate

fix: Update docs navigation links to use .html extensions for GitHub Pages (#19)
  docs/pages/components.templ
  docs/pages/components_templ.go
  docs/pages/content.templ
  docs/pages/content_templ.go
  docs/pages/forms.templ
  docs/pages/forms_templ.go
  docs/pages/layout.templ
  docs/pages/layout_templ.go
  docs/templates/base.templ
  docs/templates/base_templ.go
Due: go-vet, templ-fmt, templ-generate

fix: Add base path /pico_templ/ to docs navigation links for GitHub Pages
  docs/pages/components.templ
  docs/pages/components_templ.go
  docs/pages/content.templ
  docs/pages/content_templ.go
  docs/pages/forms.templ
  docs/pages/forms_templ.go
  docs/pages/index.templ
  docs/pages/index_templ.go
  docs/pages/layout.templ
  docs/pages/layout_templ.go
  docs/templates/base.templ
  docs/templates/base_templ.go
Due: go-vet, templ-fmt, templ-generate

fix: Add base path /pico_templ/ to docs navigation links for GitHub Pages (#20)
  docs/pages/components.templ
  docs/pages/components_templ.go
  docs/pages/content.templ
  docs/pages/content_templ.go
  docs/pages/forms.templ
  docs/pages/forms_templ.go
  docs/pages/index.templ
  docs/pages/index_templ.go
  docs/pages/layout.templ
  docs/pages/layout_templ.go
  docs/templates/base.templ
  docs/templates/base_templ.go
Due: go-vet, templ-fmt, templ-generate

Path conditions:
  go-fmt: any of: \.go$, but not: _templ\.go$
  go-imports: any of: \.go$, but not: _templ\.go$
  go-vet: any of: \.go$
  templ-fmt: any of: \.templ$
  templ-generate: any of: \.templ$
