Repository markopolo123/pico_templ: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, go-vet, templ-fmt, templ-generate

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: '^\.flox/'
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt
        entry: flox activate -- gofmt -w
        language: system
        types: [go]
        exclude: '_templ\.go$'

      - id: go-imports
        name: go imports
        entry: flox activate -- goimports -w
        language: system
        types: [go]
        exclude: '_templ\.go$'

      - id: go-vet
        name: go vet
        entry: flox activate -- go vet ./...
        language: system
        types: [go]
        pass_filenames: false

      - id: templ-fmt
        name: templ fmt
        entry: flox activate -- templ fmt .
        language: system
        pass_filenames: false
        types: [file]
        files: '\.templ$'

      - id: templ-generate
        name: templ generate
        entry: flox activate -- templ generate
        language: system
        pass_filenames: false
        types: [file]
        files: '\.templ$'

      - id: go-test
        name: go test
        entry: flox activate -- go test ./...
        language: system
        pass_filenames: false
        stages: [pre-push]

Add Button component with HTMX bindings (#1)
  .flox/env/manifest.lock
  .flox/env/manifest.toml
  .github/workflows/release.yaml
  .pre-commit-config.yaml
  components/button/button.templ
  components/button/button_templ.go
  components/button/button_test.go
  components/button/props.go
  go.mod
  go.sum
Due: go-fmt, go-imports, go-vet, templ-fmt, templ-generate

Add Head component with embedded versioned assets
  .beads/redirect
  head/assets.go
  head/assets/_hyperscript.min.js
  head/assets/htmx.min.js
  head/assets/pico.min.css
  head/download.go
  head/generate.go
  head/head.templ
  head/head_templ.go
  head/head_test.go
  head/props.go
  head/versions.go
  justfile
Due: go-fmt, go-imports, go-vet, templ-fmt, templ-generate

fix: update asset hashes for files with trailing newlines
  .flox/env/manifest.lock
  head/versions.go
Due: go-fmt, go-imports, go-vet

fix: format code and add missing newlines for pre-commit
  .flox/env/manifest.lock
  head/assets/htmx.min.js
  head/assets/pico.min.css
  head/head_templ.go
Due: go-vet

fix(ci): use flox for go hooks in pre-commit config
  .flox/env/manifest.lock
Due: none

fix: add trailing newline to manifest.lock
  .flox/env/manifest.lock
Due: none

feat: Add Card layout component for Pico CSS
  components/card/card.templ
  components/card/card_templ.go
  components/card/card_test.go
Due: go-fmt, go-imports, go-vet, templ-fmt, templ-generate

feat: add Checkbox form component
  forms/checkbox/checkbox.templ
  forms/checkbox/checkbox_templ.go
  forms/checkbox/checkbox_test.go
Due: go-fmt, go-imports, go-vet, templ-fmt, templ-generate

Add Container layout component
  layout/container/container.templ
  layout/container/container_templ.go
  layout/container/container_test.go
Due: go-fmt, go-imports, go-vet, templ-fmt, templ-generate

style: fix formatting and add missing newline
  layout/container/container_test.go
Due: go-fmt, go-imports, go-vet

fix(ci): verify templ generate with git diff check
  .pre-commit-config.yaml
Due: none

fix: regenerate templ files with current version
  layout/container/container_templ.go
Due: go-vet

feat: add Radio form component
  .beads/redirect
  forms/radio/radio.templ
  forms/radio/radio_templ.go
  forms/radio/radio_test.go
Due: go-fmt, go-imports, go-vet, templ-fmt, templ-generate

fix: align templ version with flox (v0.3.960)
  forms/radio/radio_templ.go
Due: go-vet

Add Select form component
  forms/select/select.templ
  forms/select/select_templ.go
  forms/select/select_test.go
Due: go-fmt, go-imports, go-vet, templ-fmt, templ-generate

Add Textarea form component
  forms/textarea/textarea.templ
  forms/textarea/textarea_templ.go
  forms/textarea/textarea_test.go
Due: go-fmt, go-imports, go-vet, templ-fmt, templ-generate

fix(ci): use local pre-commit hooks with flox, add gotools, pin templ version
  forms/select/select_templ.go
Due: go-vet

style: fix imports formatting
  forms/select/select_templ.go
Due: go-vet

feat: Add Card layout component for Pico CSS (#2)
  components/card/card.templ
  components/card/card_templ.go
  components/card/card_test.go
Due: go-fmt, go-imports, go-vet, templ-fmt, templ-generate

fix(ci): exclude templ files from first go-imports hook
  forms/select/select_templ.go
Due: go-vet

feat: implement Switch form component
  forms/switch/switch.templ
  forms/switch/switch_templ.go
  forms/switch/switch_test.go
Due: go-fmt, go-imports, go-vet, templ-fmt, templ-generate

Add Range form component (slider input)
  forms/range/range.templ
  forms/range/range_templ.go
  forms/range/range_test.go
Due: go-fmt, go-imports, go-vet, templ-fmt, templ-generate

fix(ci): update pre-commit config to handle flox and templ files
  .pre-commit-config.yaml
Due: none

fix: format go and templ files, update flox env
  .flox/env/manifest.lock
  forms/range/range.templ
  forms/range/range_templ.go
Due: go-vet, templ-fmt, templ-generate

chore(flox): add gotools for goimports
  .flox/env/manifest.lock
Due: none

Add Input form component with Pico CSS support
  forms/input/input.templ
  forms/input/input_templ.go
  forms/input/input_test.go
Due: go-fmt, go-imports, go-vet, templ-fmt, templ-generate

Add Container layout component (#3)
  .pre-commit-config.yaml
  layout/container/container.templ
  layout/container/container_templ.go
  layout/container/container_test.go
Due: go-fmt, go-imports, go-vet, templ-fmt, templ-generate

Add Head component with embedded versioned assets (#4)
  .beads/redirect
  .flox/env/manifest.lock
  head/assets.go
  head/assets/_hyperscript.min.js
  head/assets/htmx.min.js
  head/assets/pico.min.css
  head/download.go
  head/generate.go
  head/head.templ
  head/head_templ.go
  head/head_test.go
  head/props.go
  head/versions.go
  justfile
Due: go-fmt, go-imports, go-vet, templ-fmt, templ-generate

Add Textarea form component (#7)
  forms/textarea/textarea.templ
  forms/textarea/textarea_templ.go
  forms/textarea/textarea_test.go
Due: go-fmt, go-imports, go-vet, templ-fmt, templ-generate

feat: add Checkbox form component (#8)
  forms/checkbox/checkbox.templ
  forms/checkbox/checkbox_templ.go
  forms/checkbox/checkbox_test.go
Due: go-fmt, go-imports, go-vet, templ-fmt, templ-generate

Add Select form component (#10)
  forms/select/select.templ
  forms/select/select_templ.go
  forms/select/select_test.go
Due: go-fmt, go-imports, go-vet, templ-fmt, templ-generate

style: apply formatting fixes from pre-commit hooks
  forms/input/input.templ
  forms/input/input_templ.go
Due: go-vet, templ-fmt, templ-generate

feat: add Radio form component (#9)
  forms/radio/radio.templ
  forms/radio/radio_templ.go
  forms/radio/radio_test.go
Due: go-fmt, go-imports, go-vet, templ-fmt, templ-generate

feat: implement Switch form component (#11)
  forms/switch/switch.templ
  forms/switch/switch_templ.go
  forms/switch/switch_test.go
Due: go-fmt, go-imports, go-vet, templ-fmt, templ-generate

Add Range form component (slider input) (#12)
  .pre-commit-config.yaml
  forms/range/range.templ
  forms/range/range_templ.go
  forms/range/range_test.go
Due: go-fmt, go-imports, go-vet, templ-fmt, templ-generate

Add Input form component (#6)
  forms/input/input.templ
  forms/input/input_templ.go
  forms/input/input_test.go
Due: go-fmt, go-imports, go-vet, templ-fmt, templ-generate

feat: Add Modal component with _hyperscript interactivity
  components/modal/modal.templ
  components/modal/modal_templ.go
  components/modal/modal_test.go
  go.mod
  go.sum
Due: go-fmt, go-imports, go-vet, templ-fmt, templ-generate

fix: regenerate templ with v0.3.977
  components/modal/modal_templ.go
Due: go-vet

fix: regenerate templ with flox v0.3.960 format
  components/modal/modal_templ.go
Due: go-vet

fix: update manifest.lock and regenerate templ
  .flox/env/manifest.lock
  components/modal/modal_templ.go
Due: go-vet
